@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
/* 
html{
  margin-top: %;
} */

.signupform {
  margin-top: 250px;
}

* {
  /* box-sizing: border-box; */
  /* margin-top: 10px; */
  padding: 0;
  font-family: "PT Sans", sans-serif;
}
